.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  height: 60px;
  min-width: 200px;
  padding-inline: 16px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-s);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-white)
  }
}
