.recipe-card {
  position: relative;

  &__link {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 16px 16px 32px;
    background-image: var(--gradient);
    border-radius: var(--border-radius);
  }

  &__image {
    border-radius: calc(var(--border-radius) / 3 * 2);
  }

  &__tags {
    color: initial;
  }

  &__like-button {
    @include flex-center(true);

    position: absolute;
    top: 36px;
    right: 36px;
    width: 48px;
    aspect-ratio: 1;
    padding: 0;
    color: var(--color-gray-alt);
    background-color: var(--color-white);
    border: 2px solid transparent;
    border-radius: 50%;

    @include hover {
      border-color: var(--color-accent);
    }

    &.is-liked {
      color: var(--color-accent);
      svg {
        filter: drop-shadow(0 5px 10px
        color-mix(
            in srgb,
            currentColor 20%,
            transparent
          )
        );
      }
    }
  }
}
