.hero {
  max-width: 1920px;
  margin-inline: auto;
  padding: 50px var(--container-padding-x);

  &__slider-item {
    max-width: var(--container-width);
    border-radius: var(--border-radius-m);
    overflow: hidden;

    @include mobile {
      border-radius: var(--border-radius);
    }
  }
}
